
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

a{
  color: #8f8f8f;
}


.details, .techSkills , .softskills{
  color: white;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  color: #fff;

}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-size: cover;
    color: #fff;
  text-align: left;


}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  position: absolute;
  right: 30%;
  border: 10px solid #ffffff;

}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  margin-bottom: 1rem;
}


/* Testimonial Section */

#testimonials {

  background-size: cover;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius:20%;
  margin: 20px;
}

.testimonial-image2 {
  width: 30%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 1px;
  
}

.workex {
  color: white;
}

#press {

  position: relative;
  margin: 90px auto 0 auto;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

.services {
  width: 60%;
  color: white;
  align-content: center;
}

/* Pricing Section */

#projects{
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}




/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

.crousal2 {
background-size: cover;

}

.servicesMargin{
  position: relative;
  top: 50px;
  color: white;
}

.workExMargin{
  position: relative;
  top: 30px;
}
.carousel-inner1 {
   
  width: 33%;
  margin: auto;
   position: relative;
   top: 80px;
  
}
.carousel-item{
  color: white;
}
.carousel-indicators {
  margin: auto;
}
.btn a:hover  {

color: #fff;

}
